.hero-img{
/* clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); */

}

.hero{
    /* border: 2px solid white; */
    background-image: url("/plant.avif");



}

.hero::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: rgba(0,0,0,0.5);
    /* z-index: -1; */
    opacity: 0.5;
}